.elemStyle {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.btnStyle {
  border-radius: 5px;
  height: 35px;
  width: 100px;
  background-color: #1573df;
  color: white;
  border: 0;
  font-weight: bold;
  font-size: 20px;
}

.btnStyle:hover {
  background-color: rgb(216, 14, 14);
}
