.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .username {
    font-weight: 700;
    color:  #1573df;
  }

  .btnStyle {
    border-radius: 5px;
    height: 35px;
    width: 100px;
    background-color: #1573df74;
    color: white;
    border: 0;
    font-weight: bold;
  }
  
  .btnStyle:hover {
    background-color: #1573df;
  }